.labeledInput {
  margin: var(--spacing-small) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
  }

  label > :nth-child(2) {
    padding: var(--spacing-small);
    width: 50%;
    max-width: 400px;
    box-sizing: border-box;
  }

  input,
  select {
    background-color: var(--color-base);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-subtext0);
    transition: all var(--transition-duration);
  }

  input {
    accent-color: var(--color-accent);
  }

  input:hover,
  select:hover {
    border-color: var(--color-subtext1);
  }

  input:focus,
  select:focus {
    outline: none;
    border-color: var(--color-accent);
    background-color: var(--color-surface0);
  }
}
