# Rust
target/
.embuild/

# Build artifacts
build/
*.elf
*.bin
*.hex
*.map
*.o
*.tar.gz

# Nix
.direnv/
result

# Node
web/node_modules/
web/dist/

# Python
__pycache__/
*.pyc
venv/
venv*/
.env
tempCodeRunnerFile.py

# OS
.DS_Store
*.swp
*~

# IDE
.vscode/
.idea/

# Generated
.pre-commit-config.yaml
.cspellcache
TODO.md

# Release artifacts
dist/

# Logs
*.log

# Misc
assets/case/output/*
